html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

.app {
    position: absolute;
    left: 50%;
    top: 25%;
    width: 50vw;
    height: 25vh;
    transform: translate(-50%,-50%);

    background-color: #263238;
}

.app__screen {
        width: 80%;
        height: 2rem;

        border: ;

        background-color: #4f5b62;
}
button{
    width: 20%;
    height: 2.5rem;  
}

.app__keyboard .app__tools1,.app__operations,.app__nums{
    display: block;
}
.app__operations button{
    display:block;
}

.app__operations,.app__nums{
    display:inline-block;
}
.app__operations button{
    width: 6.6rem;
}
.app__nums button{
    width: 4.9rem;
    padding-bottom: 8%;
    padding-top: 7%;
} 
.app__nums .app__keyEqual{
    width: 10.1rem;
}

