/*-----------------------------------------------*/

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

button, input {
    line-height: 0;
    padding: 0;
}
/*-----------------------------------------------*/

body {

    color: black;
    background-color: #263238;
    height: 100vh;
    font-family: sans-serif;
    text-align: right;
}

.app {
    width: 1140px;
    height: 640px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: #fff;
    border: #000a12 solid 8px;
}

.app__screen {
        height: 30%;
        position: relative;
        
        background-color: #f81;
}
    .app__cacheSpace {
        height: 40%;
    }
        .app__cacheNumber {
            position: absolute;
            right: 6%;
            top: 30%;
            overflow: hidden;
            text-overflow: ellipsis;

            width: 50%;
            height: 10rem;
            font-size: 4rem;

            padding-top: 3rem;

            text-align: center;

            background-color: #f81;
        }
        .app__cacheOperation {    
            position: absolute;
            top: 30%;
            left: 0;
            height: 70%;
            width: 10rem;

            font-size: 8rem;
            text-align: center;

            background-color: #f81;

        }
    .app__inputSpace {

        height: 60%;        

        text-align: right;
        width: 100%;

        border: none;
        background-color: #000a12;
        color: #fff;

        font-size: 4rem;
    }

.app__keyboard {
    background-color: #112222;
    height: 70%;
    position: relative;
}
.nums {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.app__key {
    width: 6rem;
    height: 6rem;
    margin: 2px;

    border: 4px black solid;
    font-size: 5rem;

    color: black;
    background-color: #f81;
}
.app__key:hover {
    color: #f81;
    background-color: #000;
}.app__key:active {
    color: #fff;
    background-color: #000;
}